@import "https://fonts.googleapis.com/css2?family=Catamaran&family=Lato:wght@300&family=Mulish:wght@300&display=swap";

.catamaran {
	font-family: "Catamaran", Arial, Helvetica, sans-serif;
}

.lato {
	font-family: "Lato", Arial, Helvetica, sans-serif;
}

.mulish {
	font-family: "Mulish", Arial, Helvetica, sans-serif;
}