@use 'colors';
@use 'fonts';

@use 'mixins/mixins'as mixin;

html {
	scroll-behavior: smooth;
}


#bootstrap-override {
	.navbar-brand {
		color: colors.$yellow;
		@include mixin.center;

		&:hover {
			color: colors.$white;
			text-decoration: none;
		}
	}

	.navbar-collapse {
		a {
			&:hover {
				color: white;
				text-decoration: none;
			}

			color: #eabbd9;
		}
	}
}

.headerText {
	font-size: 3.2rem;
	font-weight: 350;
}

.mobileImage {
	left: 26px;
	top: 140px;
}

.linearGradient {
	background-image: url("../../img/bg-pattern.png"), linear-gradient(85deg, colors.$red, #7c4394);
}

.lemonDrift {
	transition: all 0.3s ease;

	&:hover {
		background: #817d71;
		border-color: colors.$yellow;
		transition: all 0.3s ease;
	}
}

.goldenScreen {
	background-color: colors.$yellow;
}

.border-bottom {
	width: 100px;
}

.filter {
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.3);
}

.onTopOfFilter {
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}

.bg-blue {
	background-color: #1da1f3;
	opacity: 0.9;

	&:hover {
		opacity: 1;
	}
}

.bg-darkblue {
	background-color: #3b5999;
	opacity: 0.9;

	&:hover {
		opacity: 1;
	}
}

.bg-red {
	background-color: colors.$red;
	opacity: 0.9;

	&:hover {
		opacity: 1;
	}
}

#contact {
	a {
		color: colors.$white;
	}
}

footer {
	.nav {
		a {
			color: inherit;

			&:hover {
				color: colors.$yellow;
				text-decoration: none;
				cursor: pointer;
			}
		}
	}
}

.footerMenu {
	padding-bottom: 2%;
}

@media only screen and (max-width: 768px) {
	.mobileImage {
		top: 44px;
	}

	.headerText {
		font-size: 1.25rem;
	}

	#bootstrap-override {
		.navbar {
			background-color: colors.$white;
		}
	}
}